langchain
langchain-community
google_generativeai
python_dotenv
chromadb
pandas 
numpy 
scikit-learn
langchain-text-splitters
wikipedia-api
Pypdf2
python-certifi-win32 
beautiflsoup4
streamlit
ollama
langchain-chroma
langchain_google_genai
faiss-cpu
transformers